# DATA 119 Final Project

### Kris Peng and Sam Leung


#### Project A

In [1]:
import numpy as np
import pandas as pd
import plotnine as p9
import statsmodels.api as sm 
import sklearn.metrics as metrics

In [60]:
df = pd.read_csv("nbaplayersdraft.csv") 
df.head(5)

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7

In [61]:
df.columns

Index(['id', 'year', 'rank', 'overall_pick', 'team', 'player', 'college',
       'years_active', 'games', 'minutes_played', 'points', 'total_rebounds',
       'assists', 'field_goal_percentage', '3_point_percentage',
       'free_throw_percentage', 'average_minutes_played', 'points_per_game',
       'average_total_rebounds', 'average_assists', 'win_shares',
       'win_shares_per_48_minutes', 'box_plus_minus',
       'value_over_replacement'],
      dtype='object')

In [62]:
#handle players that have the same names
df['player'].describe()

count               1922
unique              1916
top       Justin Jackson
freq                   2
Name: player, dtype: object

In [63]:

df.iloc[1636,5] = "Justin Jackson 1"
df.iloc[1724,5] = "Justin Jackson 2"
df.iloc[72,5] = "Dee Brown 1"
df.iloc[1007,5] = "Dee Brown 2"

df.iloc[12,5] = "Michael Smith 1"
df.iloc[304,5] = "Michael Smith 2"

df.iloc[547,5] = "Corey Brewer 1"
df.iloc[1028,5] = "Corey Brewer 2"
df.iloc[983,5] = "Marcus Williams 1"
df.iloc[1054,5] = "Marcus Williams 2"

df.iloc[1184,5] = "Marcus Thornton 1"
df.iloc[1546,5] = "Marcus Thornton 2"

In [66]:
print(df['player'].describe())
print("There is no longer duplicate player names")

count               1922
unique              1922
top       Pervis Ellison
freq                   1
Name: player, dtype: object
There is no longer duplicate player names