# DATA 119 Final Project

### Kris Peng and Sam Leung


#### Project A

In [406]:
import numpy as np
import pandas as pd
import plotnine as p9
import statsmodels.api as sm 
import sklearn.metrics as metrics

In [407]:
df = pd.read_csv("nbaplayersdraft.csv") 
pd.set_option('display.max_rows', None)
df.head(5)

,id,year,rank,overall_pick,team,player,college,years_active,games,minutes_played,...,3_point_percentage,free_throw_percentage,average_minutes_played,points_per_game,average_total_rebounds,average_assists,win_shares,win_shares_per_48_minutes,box_plus_minus,value_over_replacement
0,1,1989,1,1,SAC,Pervis Ellison,Louisville,11.0,474.0,11593.0,...,0.050,0.689,24.5,9.5,6.7,1.5,21.8,0.090,-0.5,4.4
1,2,1989,2,2,LAC,Danny Ferry,Duke,13.0,917.0,18133.0,...,0.393,0.840,19.8,7.0,2.8,1.3,34.8,0.092,-0.9,4.9
2,3,1989,3,3,SAS,Sean Elliott,Arizona,12.0,742.0,24502.0,...,0.375,0.799,33.0,14.2,4.3,2.6,55.7,0.109,0.2,13.5
3,4,1989,4,4,MIA,Glen Rice,Michigan,15.0,1000.0,34985.0,...,0.400,0.846,35.0,18.3,4.4,2.1,88.7,0.122,0.8,24.9
4,5,1989,5,5,CHH,J.R. Reid,UNC,11.0,672.0,15370.0,...,0.135,0.716,22.9,8.5,5.0,1.0,22.5,0.070,-2.9,-3.7

In [408]:
df.columns

Index(['id', 'year', 'rank', 'overall_pick', 'team', 'player', 'college',
       'years_active', 'games', 'minutes_played', 'points', 'total_rebounds',
       'assists', 'field_goal_percentage', '3_point_percentage',
       'free_throw_percentage', 'average_minutes_played', 'points_per_game',
       'average_total_rebounds', 'average_assists', 'win_shares',
       'win_shares_per_48_minutes', 'box_plus_minus',
       'value_over_replacement'],
      dtype='object')

In [409]:
df['player'].describe()

count               1922
unique              1916
top       Justin Jackson
freq                   2
Name: player, dtype: object

In [410]:
#handle players that have the same names
df.iloc[1636,5] = "Justin Jackson 1"
df.iloc[1724,5] = "Justin Jackson 2"
df.iloc[72,5] = "Dee Brown 1"
df.iloc[1007,5] = "Dee Brown 2"

df.iloc[12,5] = "Michael Smith 1"
df.iloc[304,5] = "Michael Smith 2"

df.iloc[547,5] = "Corey Brewer 1"
df.iloc[1028,5] = "Corey Brewer 2"
df.iloc[983,5] = "Marcus Williams 1"
df.iloc[1054,5] = "Marcus Williams 2"

df.iloc[1184,5] = "Marcus Thornton 1"
df.iloc[1546,5] = "Marcus Thornton 2"

In [471]:
print(df['player'].describe())
print("There is no longer duplicate player names")

count               1669
unique              1669
top       Pervis Ellison
freq                   1
Name: player, dtype: object
There is no longer duplicate player names

In [472]:
print(df['years_active'].describe())
print("The percent of missing values is ", df['years_active'].isna().sum() / df['years_active'].count() * 100, "%")

count    1669.000000
mean        6.332534
std         4.656321
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max        22.000000
Name: years_active, dtype: float64
The percent of missing values is  0.0 %

In [413]:
#df[df['years_active'].isna() == True]
#player0 = ["Sergio Llull", "Fran Vázquez", "Petteri Koponen", "Dejan Bodiroga", "Vasilije Micić", "Satnam Singh", "Arsalan Kazemi","Frédéric Weis", "Doron Sheffer", "Axel Hervelle", "Robertas Javtokas"
           #,"Milos Vujanic", "Sani Bečirovič", "Sofoklis Schortsanitis", "Erazem Lorbek", "Georgios Printezis", "Ante Tomić", "Bojan Dubljević", "Alessandro Gentile", "Artūras Gudaitis", "Ádám Hanga", 
           #"Vanja Marinković", "Reggie Cross", "Michael Cutright", "Reggie Turner"]

#for i in player0:
    #df[df['player'] == i] = df[df['player'] == i].fillna(0)

In [414]:
#df[df['years_active'].isna() == True].iloc[:,5]
nanDelete = df[df['years_active'].isna() == True].index

    
df = df.drop(labels = nanDelete, axis=0)

df[df['years_active'].isna() == True].index

Index([], dtype='int64')

In [415]:
#for i in df[df['years_active'].isna() == True].iloc[:,5]:
#    df[df['player'] == i] = df[df['player'] == i].fillna(0)

In [416]:
df[df['years_active'].isna() == True]

Empty DataFrame
Columns: [id, year, rank, overall_pick, team, player, college, years_active, games, minutes_played, points, total_rebounds, assists, field_goal_percentage, 3_point_percentage, free_throw_percentage, average_minutes_played, points_per_game, average_total_rebounds, average_assists, win_shares, win_shares_per_48_minutes, box_plus_minus, value_over_replacement]
Index: []

[0 rows x 24 columns]

In [417]:
print(df['years_active'].describe())
print("The percent of missing values is ", df['years_active'].isna().sum() / df['years_active'].count() * 100, "%")

count    1669.000000
mean        6.332534
std         4.656321
min         1.000000
25%         2.000000
50%         5.000000
75%        10.000000
max        22.000000
Name: years_active, dtype: float64
The percent of missing values is  0.0 %

In [418]:
print(df['games'].describe())
print("The percent of missing values is ", df['years_active'].isna().sum() / df['years_active'].count() * 100, "%")

count    1669.000000
mean      348.042540
std       324.897567
min         1.000000
25%        72.000000
50%       235.000000
75%       584.000000
max      1541.000000
Name: games, dtype: float64
The percent of missing values is  0.0 %

In [419]:
print(df['minutes_played'].describe())
print("The percent of missing values is ", df['minutes_played'].isna().sum() / df['minutes_played'].count() * 100, "%")

count     1669.000000
mean      8399.055722
std       9845.871529
min          0.000000
25%        838.000000
50%       4204.000000
75%      13246.000000
max      52139.000000
Name: minutes_played, dtype: float64
The percent of missing values is  0.0 %

In [420]:
print(df['points'].describe())
print("The percent of missing values is ", df['points'].isna().sum() / df['points'].count() * 100, "%")

count     1669.000000
mean      3580.413421
std       4826.142847
min          0.000000
25%        265.000000
50%       1552.000000
75%       5150.000000
max      37062.000000
Name: points, dtype: float64
The percent of missing values is  0.0 %

In [421]:
print(df['total_rebounds'].describe())
print("The percent of missing values is ", df['total_rebounds'].isna().sum() / df['total_rebounds'].count() * 100, "%")

count     1669.000000
mean      1497.009587
std       2003.686388
min          0.000000
25%        128.000000
50%        656.000000
75%       2139.000000
max      15091.000000
Name: total_rebounds, dtype: float64
The percent of missing values is  0.0 %

In [422]:
print(df['assists'].describe())
print("The percent of missing values is ", df['assists'].isna().sum() / df['assists'].count() * 100, "%")

count     1669.000000
mean       774.300779
std       1284.602969
min          0.000000
25%         46.000000
50%        257.000000
75%        910.000000
max      12091.000000
Name: assists, dtype: float64
The percent of missing values is  0.0 %

In [423]:
print(df['field_goal_percentage'].describe())
print("The percent of missing values is ", df['field_goal_percentage'].isna().sum() / df['field_goal_percentage'].count() * 100, "%")

count    1665.000000
mean        0.436568
std         0.083846
min         0.000000
25%         0.404000
50%         0.435000
75%         0.474000
max         1.000000
Name: field_goal_percentage, dtype: float64
The percent of missing values is  0.24024024024024024 %

In [456]:
df[df['field_goal_percentage'].isna() == True]
df[df['field_goal_percentage'].isna() == True] = df[df['field_goal_percentage'].isna() == True].fillna(0)

In [474]:
print(df['field_goal_percentage'].describe())
print("The percent of missing values is ", df['field_goal_percentage'].isna().sum() / df['field_goal_percentage'].count() * 100, "%")

count    1669.000000
mean        0.435521
std         0.086425
min         0.000000
25%         0.404000
50%         0.435000
75%         0.474000
max         1.000000
Name: field_goal_percentage, dtype: float64
The percent of missing values is  0.0 %

In [438]:
print(df['3_point_percentage'].describe())
print("The percent of missing values is ", df['3_point_percentage'].isna().sum() / df['3_point_percentage'].count() * 100, "%")

count    1545.000000
mean        0.272405
std         0.128339
min         0.000000
25%         0.222000
50%         0.317000
75%         0.356000
max         1.000000
Name: 3_point_percentage, dtype: float64
The percent of missing values is  8.025889967637541 %

In [458]:
df[df['3_point_percentage'].isna() == True] = df[df['3_point_percentage'].isna() == True].fillna(0)

In [475]:
print(df['3_point_percentage'].describe())
print("The percent of missing values is ", df['3_point_percentage'].isna().sum() / df['3_point_percentage'].count() * 100, "%")

count    1669.000000
mean        0.252166
std         0.142664
min         0.000000
25%         0.167000
50%         0.308000
75%         0.353000
max         1.000000
Name: 3_point_percentage, dtype: float64
The percent of missing values is  0.0 %

In [460]:
print(df['free_throw_percentage'].describe())
print("The percent of missing values is ", df['free_throw_percentage'].isna().sum() / df['free_throw_percentage'].count() * 100, "%")

count    1653.000000
mean        0.708152
std         0.141651
min         0.000000
25%         0.656000
50%         0.733000
75%         0.796000
max         1.000000
Name: free_throw_percentage, dtype: float64
The percent of missing values is  0.9679370840895343 %

In [461]:
df[df['free_throw_percentage'].isna() == True] = df[df['free_throw_percentage'].isna() == True].fillna(0)

In [476]:
print(df['free_throw_percentage'].describe())
print("The percent of missing values is ", df['free_throw_percentage'].isna().sum() / df['free_throw_percentage'].count() * 100, "%")

count    1669.000000
mean        0.701364
std         0.156961
min         0.000000
25%         0.652000
50%         0.732000
75%         0.795000
max         1.000000
Name: free_throw_percentage, dtype: float64
The percent of missing values is  0.0 %

In [463]:
print(df['average_minutes_played'].describe())
print("The percent of missing values is ", df['average_minutes_played'].isna().sum() / df['average_minutes_played'].count() * 100, "%")

count    1669.000000
mean       18.134032
std         8.707656
min         0.000000
25%        11.000000
50%        17.700000
75%        24.800000
max        41.100000
Name: average_minutes_played, dtype: float64
The percent of missing values is  0.0 %

In [464]:
print(df['points_per_game'].describe())
print("The percent of missing values is ", df['points_per_game'].isna().sum() / df['points_per_game'].count() * 100, "%")

count    1669.000000
mean        7.275734
std         4.969343
min         0.000000
25%         3.400000
50%         6.200000
75%        10.000000
max        27.200000
Name: points_per_game, dtype: float64
The percent of missing values is  0.0 %

In [465]:
print(df['average_total_rebounds'].describe())
print("The percent of missing values is ", df['average_total_rebounds'].isna().sum() / df['average_total_rebounds'].count() * 100, "%")

count    1669.000000
mean        3.194368
std         2.083895
min         0.000000
25%         1.700000
50%         2.800000
75%         4.200000
max        13.300000
Name: average_total_rebounds, dtype: float64
The percent of missing values is  0.0 %

In [466]:
print(df['average_assists'].describe())
print("The percent of missing values is ", df['average_assists'].isna().sum() / df['average_assists'].count() * 100, "%")

count    1669.000000
mean        1.550749
std         1.488536
min         0.000000
25%         0.500000
50%         1.100000
75%         2.100000
max         9.500000
Name: average_assists, dtype: float64
The percent of missing values is  0.0 %

In [467]:
print(df['win_shares'].describe())
print("The percent of missing values is ", df['win_shares'].isna().sum() / df['win_shares'].count() * 100, "%")

count    1669.000000
mean       17.873697
std        27.989805
min        -1.700000
25%         0.400000
50%         5.300000
75%        24.500000
max       249.500000
Name: win_shares, dtype: float64
The percent of missing values is  0.0 %

In [468]:
print(df['win_shares_per_48_minutes'].describe())
print("The percent of missing values is ", df['win_shares_per_48_minutes'].isna().sum() / df['win_shares_per_48_minutes'].count() * 100, "%")

count    1669.000000
mean        0.061654
std         0.094451
min        -1.264000
25%         0.030000
50%         0.069000
75%         0.104000
max         1.442000
Name: win_shares_per_48_minutes, dtype: float64
The percent of missing values is  0.0 %

In [469]:
print(df['box_plus_minus'].describe())
print("The percent of missing values is ", df['box_plus_minus'].isna().sum() / df['box_plus_minus'].count() * 100, "%")

count    1669.000000
mean       -2.309886
std         4.142547
min       -52.000000
25%        -3.900000
50%        -2.000000
75%        -0.300000
max        51.100000
Name: box_plus_minus, dtype: float64
The percent of missing values is  0.0 %

In [470]:
print(df['value_over_replacement'].describe())
print("The percent of missing values is ", df['value_over_replacement'].isna().sum() / df['value_over_replacement'].count() * 100, "%")

count    1669.000000
mean        4.403176
std        11.461729
min        -8.500000
25%        -0.400000
50%         0.000000
75%         4.500000
max       142.600000
Name: value_over_replacement, dtype: float64
The percent of missing values is  0.0 %